.cart {
    margin-top: 5rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 2rem 5rem;

}

.cart .h1 {
    font-weight: 500;
}
.container{
    width: 55%;
}
.cart .h2 {

    font-weight: 600;
    font-size: 1.5rem;
    line-height: 3rem
}
.items {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.li {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
    background:#F7F7F7;
    margin-bottom: 2rem;
    width: 100%;
}
.li .img {
    width: 335px;
    height: 205px;
    object-fit: cover;
}

.desc {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.name {
    font-weight: 400;
    font-size: 1.175rem;
    
}

.price {
    font-weight: 500;
    font-size: 1.2rem;
}
.quanity {
    font-weight: 300;
    font-size: 1.1rem;
}

.orders {
    width: 16rem;
    background-color: #FF9900;
    border: solid 0;
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 2rem;;
    outline:none;
    color: #fff;
    padding: 0.5rem 0.5rem;
    margin: 1rem auto;
    text-align: center;
    
}

.sp {
    color: #FF3333;
    border: 1px solid #FF3333;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
}

.sp::before {
    content: 'Remove item';
}
.div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.container2 {
    width: 40%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container2 .cat2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.container2 .cat2 .li2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cat2 .li2  .img2{
    width: 358px;
    height: 212px;
}
.productdetails {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.productdetails button {
    margin-top: 2rem;
    background-color: #FF9900;
    border: solid 0;
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.9rem;
    outline:none;
    padding: 0.5rem 1rem;
}

.productdetails button a {
    padding: 5px;
    color: #FFFFFF;
}

.descandprice {
    display: flex;
}
.descandprice p {
    text-align: left;
    margin-left: 15px;
}

.total {
    font-size: 1.2rem;
    font-weight: 700;
}

@media screen and (max-width: 1024px) {
    .li .img {
        width: 200px;
        height: 150px;
        object-fit: cover;
    }

    .cat2 .li2  .img2{
        width: 200px;
        height: 140px;
    }

    .name {
        font-weight: 400;
        font-size: 1.0rem;
        
    }
    
    .price {
        font-weight: 500;
        font-size: 0.8rem;
    }
    .quanity {
        font-weight: 300;
        font-size: 0.8rem;
    }

    .sp {
        color: #FF3333;
        border: 1px solid #FF3333;
        padding: 0.3rem;
        font-size: 0.7rem;
        border-radius: 5px;
    }
}
@media  screen and (max-width: 768px) {
   
    .container2 {
        display: none;
    }
}

@media  screen and (max-width: 480px) {
    .cart {
        padding: 6px;
        min-height: 50vh;
    }

    .container{
        width: 100%;
        padding: 1rem 2rem;
    }

    .cart .h2 {
        width: 100%;
        text-align: center;
    }
    .items {
        margin: 0;
    }
    .li .img {
        width: 149px;
        height: 91px;
        object-fit: cover;
    }

    .sp {
        border: 0;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 5px;
    }

    .sp::before {
        content: '';
    }

    .container2 {
        display: none;
    }
}
