.container {
    display: flex;
    height: 277px;
    width: auto;
    display: flex;
    background-color: rgba(140, 84, 0, 1);
    padding: 2rem 7rem;
    justify-content: space-between;
}


.details {
    margin-top: 28px;
    margin-left: 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.home, .cart, .shop{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    /* width: 48px;
    height: 24px; */
}

.feedback {
    margin-top: 33px;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}

.feedbackquestion {
    width: 455px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    text-align: start;
}

.textarea {
    height: 124px;
    border: solid 2px;
    border-radius: 5px;
    border-color: rgba(255, 153, 0, 1);
    padding: 10px;
    display: flex;
    gap: 10px;
    background-color: rgba(140, 84, 0, 1);
    outline: none;
}

.textarea::placeholder {
    font-weight: 250;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}



.button {
    width: 231px;
    height: 50px;
    padding: 10px, 40px, 10px, 40px;
    border: solid 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 153, 0, 1);
}

.buttonvalue {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
}

