.container {
    background-color: #FAFAFA;
    display: flex;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
}


.details {
    height: auto;
    /*margin-top: 21.5px;*/
    margin-left: 10%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 200px;
}

.home, .cart, .shop{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    /* width: 48px;
    height: 24px; */
}

.active {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 153, 0, 1);
    /* width: 62px;
    height: 36px; */
}