.contain {
    margin-top: 7rem;
}
.productcontainer {
   padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.h1 {
    text-align: left;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 4rem;
}

.catalogue {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    row-gap: 2rem;
}

.productitem {
    height: auto;
    padding-bottom:1.7rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #F7F7F7;
    box-shadow: 0 2px 10px 0 #0000001A;
    position: relative;
}


.productitem img {
    width: auto;
    height: 219px;
}

.productdetails {
    display: flex;
    justify-content: space-between;
}

.productdetails button {
    
    background-color: #FF9900;
    border: solid 0;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1rem;
    outline:none;
    padding: 0.2rem 0.2rem;
}

.productdetails button  a {
    padding: 5px;
    color: #FFFFFF;
}

.descandprice p {
    text-align: left;
}
.productcontainer .btn {
    width: 16rem;
    background-color: #FF9900;
    border: solid 0;
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 2rem;;
    outline:none;
    color: #fff;
    padding: 0.5rem 0.5rem;
    margin: 3rem auto;
}

.productcontainer .category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    margin-top: 2rem;
}
.search .input {
    width: 50%;
    margin-left: 5rem;
    border: 1px solid #FF9900;
    outline: none;
    border-radius: 4px;
    padding: 0.5rem;
    color: #FF9900;
}
.search .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.cat {
    display: flex;
    flex-direction: column;
}
.cat span {
    padding: 0rem 0.5rem;
    font-size: 0.85rem;
}
.filt {
    font-size: 0.85rem;
}
.sea {
    padding: 0.9rem 3rem;
    background: #FF9900;
    border-radius: 5px;
    color: #fff;
    font-size: 0.85rem;
}

.span {
    padding: 0.5rem 0.5rem;
    background: #FF9900;
    color: white;
    position: absolute;
    right: 0%;
}


@media screen and (max-width: 1024px) {
    .catalogue {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        row-gap: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .catalogue {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        gap: 3rem;
        row-gap: 0.5rem;
    }

    .search {
        flex-direction: column;
        padding: 2px;
        align-items: center;
        justify-content: space-between;
    }

    .search .input {
        margin: 0;
        margin-bottom: 10px;
    }

    .search .filter {
        width: 30%;
        justify-content: center;
        margin-bottom: 10px;
    }
        
    

    .cat {
        display: none;
    }
}

@media (max-width: 480px) {

    .productcontainer {
        padding: 1rem 2rem;
     }
    .catalogue {
        grid-template-columns: 1fr;
        gap: 0rem;
        row-gap: 2rem;
    }

    .search {
        flex-direction: column;
        padding: 2px;
        align-items: center;
        justify-content: space-between;
    }

    .search .input {
        margin: 0;
        margin-bottom: 10px;
    }

    .search .filter {
        width: 30%;
        justify-content: center;
        margin-bottom: 10px;
    }
        
    

    .cat {
        display: none;
    }
}

